<!DOCTYPE html>
<html lang="en">
<%- include("components/head.ejs") %>
<script src="js/stars.js" defer></script>
<body data-bs-theme="dark">
  <!-- Include sidebar -->
  <%- include("components/sidebar.ejs") %>

  <!-- Include Navbar -->
  <%- include("components/navbar.ejs") %>
  <canvas></canvas>

  <!-- Main Content -->
  <div class="container-fluid my-3" style="min-height: 100vh;">

  </div>

  <!-- Footer -->
  <%- include("components/footer.ejs") %>

  <%- include("components/contact.ejs") %>
</body>

</html>