<!DOCTYPE html>
<html lang="en">
	<%- include("components/head.ejs") %>
	<body data-bs-theme="dark">
		<!-- Include sidebar -->
		<%- include("components/sidebar.ejs") %>

		<!-- Include Navbar -->
		<%- include("components/navbar.ejs") %>

		<!-- Main Content -->
		<div class="container-fluid p-4 rounded">
			<div class="row bg-dark-subtle rounded" style="height: 100vh">x</div>
		</div>

		<!-- Footer -->
		<%- include("components/footer.ejs") %>

		<!-- Theme Changer -->
		<%- include("components/changeTheme.ejs") %>

		<%- include("components/contact.ejs") %>
	</body>
</html>
